@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100lvh
}

.fixed-bottom-right {
    position: absolute;
    bottom: 5svh;
    right: 2.5rem;
}
.fixed-bottom-left {
    position: absolute;
    bottom: 5svh;
    left: 2.5rem;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}