@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100lvh
}

.fixed-bottom-right {
    position: absolute;
    bottom: 5lvh;
    right: 2.5rem;
}
.fixed-bottom-left {
    position: absolute;
    bottom: 5lvh;
    left: 2.5rem;
}

@media screen and (max-width: 650px) {
    .fixed-bottom-right, .fixed-bottom-left{
        bottom: 20lvh
    }
}

.cool-link::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
    transition: transform 0.2s ease;
}

.scale-enter-from {
    transform: scale(0.8);
}

.scale-leave-to {
    transform: scale(1);
}